.ColorSwatch {
  border-radius: 50%;
}
.ColorSwatch::after {
  border-radius: 50%;
}
.Button--primary::before, .shopify-payment-button__button--unbranded::before, #shopify-product-reviews .spr-summary-actions-newreview::before, #shopify-product-reviews .spr-button-primary:not(input)::before {
  background-color: #000;
  border-radius: 8px;
  border: 1px solid #000;
}
.Button, 
.shopify-payment-button__button--unbranded,
#shopify-product-reviews .spr-summary-actions-newreview, 
#shopify-product-reviews .spr-button-primary:not(input), 
#shopify-product-reviews input.spr-button-primary,
#shopify-product-reviews .spr-pagination-prev > a, 
#shopify-product-reviews .spr-pagination-next > a {
  border-radius: 8px;
}



#shopify-section-product-template .ProductMeta {
  text-align: left;
}




#shopify-section-product-template .Button.ProductForm__AddToCart{
  background: #A9A9A9;
  color: #fff;
}
